# Ignorar archivos temporales del sistema
.DS_Store
Thumbs.db

# Ignorar archivos de compilación y salida de Eclipse
.metadata/
*.suo
*.tmp
*.log
*.project
*.cproject
*.settings/

# Ignorar archivos temporales de ModelSim
/modelsim/
*.wlf
*.do

# Ignorar archivos temporales y de configuración de Quartus
/quartus/
*.qsf
*.qpf
*.qws
*.sdc
*.sof
*.pof
*.jic

# Ignorar archivos de configuración específicos de NIOS
#*.elf
#*.map
#*.srec
#*.hex

# Ignorar archivos generados de compilación
build/
bin/
obj/

# Ignorar archivos de configuración específicos de Linux
*~        # Archivos temporales de editores en Linux
*.swp     # Archivos de intercambio de editores

# Ignorar archivos de configuración específicos de Windows
*.exe
*.dll
*.obj
*.pdb
*.user
*.ncb
*.opt
*.plg

# Ignorar carpetas específicas de herramientas y entornos
/obj/
/build/
/bin/
